html    {
   height: 100%;
   width: 100%;
}

body    {
    min-height: 90%;
    background-color: rgb(155, 130, 109);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
    gap: 35px;
    border: solid rgb(109, 70, 39) 2px;
    border-radius: 20px;   
    width: 950px; 
}

h1  {
    color: rgb(109, 70, 39);
    padding: 20px;
    border: solid gray 2px;
    border-radius: 20px;
    margin: 0;
    text-align: center;
}

.content        {
    display: flex;
    flex-direction: column;
}

.menu   {
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu > *  {
    width: 75px;
    height: 75px;
    border: solid gray 2px;
}

#grid  {
    border: solid black 1px;
    width: 900px;
    height: 450px;
    display: grid;
}

.grid-item  {
    border: solid rgb(160, 160, 160) 1px;
}

#colorpicker    {
    width: 75px;
    height: 75px;
}

#clear  {
    background-color: aquamarine;
}

